<link rel='stylesheet' text='text/css' href='/assets/css/dashboard.css'>
<div class="card-container">
        <div class='card' style="width: 50%; margin-left:25%; margin-right:25%;">
            <div class='card-title company'>
                <h4>Papyrus</h4>
            </div>
            <div class='card-text position'>
                <h5>the what</h5>
                <h6>Our web app makes internship opportunities more accessible.</h6>
                <p>It not only helps to organize the process of applying to several interships at once, but also searches and suggests opportunities that other users have applied to in the past or are currently applying to. </p>
            </div>
            <div class='card-text deadline'>
                <h5>the why</h5>
                <h6>As a group of undergraduate students currently looking for experience, we know that finding internships and job opportunities can be a stressful and challenging experience.</h6>
                <p>App Name attempts to facilitate the process by keeping track of the internships you are interested in and storing them all in one place. In addition, deadlines and requirements are also organized and stored with each internship. Do I talk about the whole google sheets thing?</p>
            </div>
        </div>
</div>