<div class="col-md-4"></div>
<div class="col-md-4 text-center">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Hi there!</h3>
    </div>
    <div class="panel-body">
      You need to be logged in to access this page
      <form method="GET" action="/auth/facebook">
        <button type="submit" class="btn btn-primary btn-lg btn-space">Login with Facebook</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4"></div>