<div id='asdf'> </div>

<script type='text/babel'>
        var ExampleReact = React.createClass({
            render: function() {
                return (
                    <div className='example-class'>
                        <p>Here is a component</p>
                    </div>
                    );
            }
        })
        
        ReactDOM.render( <ExampleReact/>,
            document.getElementById('asdf')
        );    
</script>
    